#board {
    padding-top: 3em;
    text-align: center;
    
    
}
.row > div {
    float: left;
    height: 100px;
    width: 100px
}
.row {

    clear: both;
    margin: auto;
    width: 306px;
    font-size: 50px;

}
.top {
    border-bottom: 1px black solid; 
}
.bottom {
   
    border-top: 1px black solid;
}
.left{
    
    border-right: 1px black solid;
}
.right {
    border-left: 1px black solid
}

h2 {
    text-align: center;
    color: crimson solid;
    font-size: 30px;
}

